@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Header */

header {
    padding: 0.5em 1em 0.5em 1em;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 0.875rem;
}

.container {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

nav a:hover,
nav a:focus {
    color: rgb(101, 24, 112);
}

ul {
    display: flex;
    gap: 0.75em;
    list-style-type: none;
    font-size: 0.75rem;
}